page-perfil {

    .toolbar-title.toolbar-title-md {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .toolbar-title.toolbar-title-md{
        justify-content: space-between;
    }
}
