page-mudanza {
    .toolbar-title.toolbar-title-md {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .toolbar-title.toolbar-title-md{
        justify-content: space-between;
    }
}
